
.card{
    overflow: hidden;
    padding: 0rem 0rem 0rem 0rem;
    box-shadow: 0 2px 20px grey;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
}

.card__title{
    padding: 0.5rem;
}

.card:hover{
    transform: scale(1.02);
}



